.page-header,.page-sidebar-wrapper,.page-content-wrapper,.page-footer{
  display: none;
}

.page-header.navbar .page-logo .logo-default {
    margin: 7px !important;
}

.page-header-inner > .page-logo > a > img.logo-default{max-height:60px;}

.login-page{
  background: url('../images/web/background.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-logo{
  margin: 55px 0 15px;
}

table tr td .form-md-checkboxes {
  padding-top: 0 !important;
}

.vcenter {
    vertical-align: middle !important;
}

table .form-group.form-md-line-input:last-child {
    margin-bottom: 0;
}

table .form-group.form-md-line-input {
    padding-top: 0;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

label{
  color:#888888;
}

li{
  list-style: none;
}

hr{
  border-top-color:rgba(167, 167, 167, 0.27);
}

.pad-right{
  padding-right:0px;
}

.pad-left{
  padding-left:0px;
}

.pad{
  padding: 5px;
}

th a:hover{
  cursor: pointer;
}

.panel-heading > h4{
  color:#333;
}

input[type="file"]{
  display: none;
}

.fileinput input[type="file"]{
  display: initial !important;
}

.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.sortable li { 
  margin: 3px 3px 3px 0; 
  padding: 1px; 
  float: left; 
  width: 24%; 
  height: 120px;  
  text-align: center;
  border:1px solid #e7ecf1!important;
}

.droppable{
  height:300px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.form-drag{
  height:300px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.single-image-thumbnail{
  max-width: 150px;
  max-height: 150px;
}

.select2{
  width: 100% !important;
  border-bottom:1px solid #c2cad8;
}

.select2-container--bootstrap .select2-selection{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-radius: 0;
}

.select2-container--bootstrap .select2-selection--single,.select2-container--bootstrap .select2-selection--single{
  border-radius:0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.select2-container--bootstrap .select2-selection--multiple{
  min-height: 100px;
  border-radius:0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
      
@media screen and (max-width: 480px){
  .pad-left{
    padding: 0px;
  }
  .pad-right{
    padding: 0px;
  }
}

#legend ul {
  list-style: none;
}
#legend ul li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
#legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
#legend #chart-area > *{
  float:left
}

/* Cubic Bezier Transition */
.user-login-5 {
  min-height: 100vh; }
  .user-login-5 .bs-reset {
    margin: 0;
    padding: 0; }
  .user-login-5 .text-right {
    text-align: right; }
  .user-login-5 .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; }
  .user-login-5 .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em; }
    .user-login-5 .login-logo.login-6 {
      top: 80px;
      left: 80px; }
  .user-login-5 .login-container {
    position: relative;
    min-height: 100vh; }
    .user-login-5 .login-container > .login-content,
    .user-login-5 .login-container .login-social,
    .user-login-5 .login-container .login-copyright {
      padding: 0 80px; }
    .user-login-5 .login-container > .login-content {
      margin-top: 35%; }
      .user-login-5 .login-container > .login-content > h1 {
        font-size: 30px;
        font-weight: 300;
        color: #4e5a64; }
      .user-login-5 .login-container > .login-content p {
        color: #a0a9b4;
        font-size: 15px;
        line-height: 22px; }
      .user-login-5 .login-container > .login-content > .login-form {
        margin-top: 80px;
        color: #a4aab2;
        font-size: 13px; }
        .user-login-5 .login-container > .login-content > .login-form input {
          width: 100%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid;
          border-color: #a0a9b4;
          color: #868e97;
          font-size: 14px;
          margin-bottom: 30px; }
          .user-login-5 .login-container > .login-content > .login-form input:focus {
            outline: 0; }
        .user-login-5 .login-container > .login-content > .login-form .forgot-password,
        .user-login-5 .login-container > .login-content > .login-form .login-button {
          display: inline-block; }
        .user-login-5 .login-container > .login-content > .login-form .rem-password {
          margin-top: 10px; }
          .user-login-5 .login-container > .login-content > .login-form .rem-password > p {
            margin: 0; }
          .user-login-5 .login-container > .login-content > .login-form .rem-password > .rem-checkbox {
            border-color: #a4aab2; }
        .user-login-5 .login-container > .login-content > .login-form .forgot-password {
          margin-right: 1em; }
          .user-login-5 .login-container > .login-content > .login-form .forgot-password > a {
            color: #a4aab2; }
            .user-login-5 .login-container > .login-content > .login-form .forgot-password > a:hover {
              color: #337ab7;
              text-decoration: none; }
            .user-login-5 .login-container > .login-content > .login-form .forgot-password > a:focus {
              color: #a4aab2;
              text-decoration: none; }
    .user-login-5 .login-container > .login-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-bottom: 10px; }
      .user-login-5 .login-container > .login-footer .login-social {
        padding-right: 0; }
        .user-login-5 .login-container > .login-footer .login-social li {
          display: inline-block;
          list-style: none;
          margin-right: 1em; }
        .user-login-5 .login-container > .login-footer .login-social a {
          color: #a9b5be;
          font-size: 18px; }
          .user-login-5 .login-container > .login-footer .login-social a:hover {
            color: #337ab7;
            text-decoration: none; }
          .user-login-5 .login-container > .login-footer .login-social a:focus {
            color: #a9b5be; }
      .user-login-5 .login-container > .login-footer .login-copyright {
        padding-left: 0;
        margin-top: 6px; }
        .user-login-5 .login-container > .login-footer .login-copyright > p {
          margin: 0;
          font-size: 13px;
          color: #a9b5be; }
  .user-login-5 .alert {
    margin-top: -60px; }
  .user-login-5 .form-group.has-error {
    border-bottom: 2px solid #ed6b75 !important; }
  .user-login-5 .form-group.valid {
    border-bottom: 1px solid #a0a9b4 !important; }

@media (max-width: 1365px) {
  .user-login-5 .login-logo.login-6 {
    top: 40px;
    left: 40px; }
  .user-login-5 .login-container > .login-content,
  .user-login-5 .login-container .login-social,
  .user-login-5 .login-container .login-copyright {
    padding: 0 40px; }
  .user-login-5 .login-container .login-social {
    padding-right: 0; }
  .user-login-5 .login-container .login-copyright {
    padding-left: 0; } }

@media (max-width: 1023px) {
  .user-login-5 {
    min-height: 50vh; }
    .user-login-5 .login-bg {
      min-height: 50vh; }
    .user-login-5 .login-logo.login-6 {
      position: relative;
      margin: 0 0 40px 0; }
    .user-login-5 .login-container {
      min-height: 50vh; }
      .user-login-5 .login-container > .login-content {
        margin-top: 60px; }
        .user-login-5 .login-container > .login-content .login-form {
          margin-top: 40px; }
      .user-login-5 .login-container .rem-password {
        margin-bottom: 1em; }
      .user-login-5 .login-container > .login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0; }
        .user-login-5 .login-container > .login-footer .login-social li {
          margin-right: 0.5em; }
    .user-login-5 .alert {
      margin-top: -20px; } }

@media (max-width: 640px) {
  .user-login-5 .login-container > .login-content .text-right {
    text-align: left; } }

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #9441A3;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.portlet-container{
  width: 100%;
}

.head-button{
  float : right;
}

#overlay {
  z-index: 9999999999999999999;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  /*filter: alpha(opacity=80);*/
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -25px;
}

.circular {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  width: 10%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35px;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124px;
 }
}
@keyframes color{
  100%, 0%{
    stroke: #d62d20;
  }
  40%{
    stroke: #0057e7;
  }
  66%{
    stroke: #008744;
  }
  80%, 90%{
    stroke: #ffa700
  }
}

.ui-datepicker-title{
  color: black;
}

#ui-datepicker-div{
  z-index: 9999999999999999 !important;
}

.bulk-actions > li > a > i.true{
  color: #36c6d3;
}

.bulk-actions > li > a > i.false{
  color: #ed6b75;
}

.color-picker-action{
  background: none !important; 
}

.container-crop{
  width: 800px;
  height: 450px;
}

#image-crop-data{
  max-width: 100%;
}

.content-image{
  width:150px;
}

.img-responsive {
    margin: 0 auto;
}

.status-upload{
  font-size: 16px;
  padding: 15px;
  text-transform: uppercase;
}

.drop-zone-image{
  height: 150px;
  border:2px dotted #2ab4c0;
  margin-bottom: 10px;
  position: relative;
  transition: 0.4s all;
}

.drop-zone-image.hover{
  opacity: 0.4;
}

.drop-zone-image > .information{
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
}

.drop-zone-image > .information > .name{
  font-size: 25px;
}

.container-image-catalog{
  margin-bottom: 100px;
}

.list-image-catalog{
  text-align: center;
  border:1px dotted gray;
  padding: 10px 0;
}

.list-image-catalog > .action{
  margin-top: 10px;
}

.list-image-catalog > .action > div > i{
  cursor: pointer;
}

.list-image-catalog > img{
  max-width: 150px;
  height: 100px;
  text-align: center;
}

table tr td form{
  display: inline-block;
}

.gmaps_outlet {
    height: 300px;
    width: 100%;
}

.form-group.form-md-line-input, .form-group.form-md-radios {
  margin-bottom: 25px !important;
}

.coming-soon{
  position: relative;
}

.coming-soon:after{
  margin: 0 15px;
  content: "Coming Soon";
  color: white;
  text-align: center;
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 5vw;
  padding-top: 25%;
}

.btn.green:not(.btn-outline) {
  background-color: #4C4C4E;
  border: none;
}

.btn.green:not(.btn-outline):hover {
  background-color: #4E5857;
  border: none;
}

.btn.red-mint:not(.btn-outline) {
  background-color: #e1090a;
  border: none;
}

.btn.red-mint:not(.btn-outline):hover {
  background-color: #A4234F;
  border: none;
}

.btn.green-jungle:not(.btn-outline) {
  background-color: #F29A21;
  border: none;
}

.btn.green-jungle:not(.btn-outline):hover {
  background-color: #F3951D;
  border: none;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username{
  color: #F29A21;
}

.portlet-title .font-green, .font-dash{
  color: #e1090a !important;
}

.sub-title{
  color: #e1090a !important;
}

.font-dash:hover{
  text-decoration: none !important;
}

.font-16{
  font-size: 16px;
}

.margin-left-20{
  margin-left: 20px;
}

.page-sidebar{
  background-color: #4C4C4E;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar .page-sidebar-menu>li.heading>h3, .page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar .page-sidebar-menu .sub-menu>li>a>i{
  color: white !important;
}

.page-sidebar .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
  color: white !important;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
  background-color: #e1090a !important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
  background-color: #e1090a !important;
}

.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
  background-color: #e1090a !important;
}

.red-wahana{
  background-color: #e1090a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cus-select2{
    border: 0;
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}